.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
  height: 20vh;
  box-sizing: border-box;
  background-color: #ffbb91;
  border-bottom: 2px solid #ff8e6e;
}

.header__title {
  margin: 0;
  padding: 8px 16px;
  color: #f6f5f5;
  background-color: #ff8e6e;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 700;
}

#myMap {
  height: 80vh;
}

.my-div-icon {
 width: .4rem;
 height: .4rem;
 background-color: #f6f5f5;
 -webkit-border-radius: 50%;
 -moz-border-radius: 50%;
 -ms-border-radius: 50%;
 -o-border-radius: 50%;
 border-radius: 50%;
}
